<footer >

    <div class="f-info">
        <div class="f-info-social">
            <a href="/instagram"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="/facebook"><i class="fa-brands fa-square-facebook"></i></a>
         <a href="/linkdin"><i class="fa-brands fa-linkedin"></i></a>
        </div>

        <div class="f-brnad"><i class="fa-solid fa-copyright"> </i> Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/Terms">Terms</a>

        </div>
    </div>
</footer>