<style>
  .btn i{
    display: inline;
    margin: 0.5rem;
    
  }
  .btn-search{
    background-color: #fe4350;
    border-radius: 20px;
    padding: 0 1rem 0 1rem;
    margin-left: 0.5rem;



    &:hover{
      background-color: #fe4350;
    }
  }

  .search-input{
    border-radius: 20px;
    padding: 0.5rem 3rem 0.5rem 3rem;
text-align: center;
  }
</style>

<!--navbar starting div -->
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listing"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
         <a class="nav-link" href="/listing"><b>Explore</b></a>
        </div>
   
    

    <!-- nav bar search div -->

    <div class=" navbar-nav ms-auto search">
      <form class="d-flex " role="search">
        <input class="form-control me-2 search-input" type="search" placeholder="Search destination" >
        <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
      </form>
    </div>
 
    <!-- nav bar ending div -->
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listing/new"><b>Airbnb your home</b></a>
          <% if (!currentUser) {%>
            <a class="nav-link " aria-current="page" href="/signup"><b>Singup</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
            <%   } %>
            <% if (currentUser) {%>
              <a class="nav-link" href="/logout"><b>Logout</b></a>

              <%   } %>
         
            </div>
        </div>
    </div>
  </nav>