
<% layout("/layouts/boilplate") %>
<body>

  
     <div id="filter">
          <div class="filter ">
            <div> <i class="fa-solid fa-fire"></i></div>
           <p>Trending</p> 
          </div>
          <div class="filter">
          <div>  <i class="fa-solid fa-bed"></i></div>
           <p>Rooms</p> 
          </div>
          <div class="filter">
            <div>  <i class="fa-solid fa-city"></i></i></div>
             <p>Iconic cities</p> 
            </div>
            <div class="filter">
             <div> <i class="fa-solid fa-mountain-sun"></i></div>
               <p>Mountains</p> 
              </div>
              <div class="filter">
                <div> <i class="fa-solid fa-person-swimming"></i></i></div>
                  <p>Amazing pools</p> 
                 </div>
                 <div class="filter">
                  <div> <i class="fa-brands fa-fort-awesome"></i></div>
                    <p>Castle</p> 
                   </div>
                  <div class="filter">
                    <div> <i class="fa-solid fa-cow"></i></div>
                      <p>Farms</p> 
                     </div>
                     <div class="filter">
                  <div> <i class="fa-solid fa-tent"></i></div>
                       <p>Camping</p> 
                 </div>
                 <div class="filter">
                  <div> <i class="fa-solid fa-mug-hot"></i></div>
                       <p>Breakfast</p> 
                 </div>
                 <div class="filter">
                  <div> <i class="fa-solid fa-sailboat"></i></div>
                       <p>Boats</p> 
                 </div>
                 
                 
                 <div class="switch ms-auto">
                 <div class="form-check-reverse form-switch filter">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" >
                  <label class="form-check-label" for="flexSwitchCheckChecked">Display total after taxes</label>
                </div>
              </div>
        </div>

        <div class="row row-cols-lg-3 row-cols-md-2  row-cols-sm-3 mt-3">
        <% for (let listing of allistings) { %>
          <a href="/listing/<%= listing._id %>  " class="show-info">
        <div class="card cols listing-card" >
          <div class="card-img-overlay"></div>
            <img src="<%= listing.image.url%>" class="card-img-top" style= "height: 20rem" alt="image should be there">
            <div class="card-body">
              <p class="card-text"><b><%= listing.title  %> </b></p><br>
             <b> <p>&#8377;<%=listing.price.toLocaleString("en-IN") %>/Night</b>
             <b> <i class="tax-info">&nbsp; +18% GST</i></b>
            </p>
              <br>
            
            </div>
          </div>
          <%  }  %>
        </div>
</a>

<!-- <ul>
      for (let listing of allistings){ %>
       <li> <a href="/listing/< listing._id %>">< listing.title  %></a> </li>
    
     }  %>

</ul> -->

</body>



    