body{

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

.navbar{
    background-color: whitesmoke;
    
    height: 80px;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #000000 !important;

}

.f-info-social{
    font-size: 1.2rem;
   
   
width: 100%;
    
}
.f-info-social i{
    margin-right: 0.6rem;
    color: #222222;
}

.f-info{
    background-color:#ebebeb ;
    text-align: center;
    height: 7rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-evenly;
  
   

}
.f-info-links {
    width: 100%;
    
}
.f-info-links a {
    text-decoration: none !important;
    margin-left: 10px;
    color: #222222;
    
    


   &:hover{
    
    text-decoration: underline;

   }
}

.listing-card{
    display: flex;
    justify-content: space-evenly;
    
}

/* card */

.listing-card{
    border: none !important;
    margin-bottom: 1rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover;
}
.card-body{
    padding: 0rem !important;
}
.card-text p{
    font-weight: 700!important;

}

.show-info{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;


    &:hover{
        opacity: 0.2;
        background-color: whitesmoke;
        
    }
}

/* new page */
.btn-add{
    background-color: #fe4350 !important;
    border: none !important;
}
/* show page */

.show-img{
    height: 30vh !important;
    width: 40rem !important;
}
.btns{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.submit-button{
    size: 10px;
} 
.starability-slot {
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem; /* optional spacing between stars */
}
#map { 
    height: 400px;
    width: 80vh;
}
#filter{
    display: flex;
   flex-wrap: wrap;
   
  
  }
  .filter{
  text-align: center;
    margin-top: 13px;
    margin-right: 2rem;
    opacity: 0.6;


    &:hover{
     opacity: 1;
     cursor: pointer;
      
    }
  }
 .filter p{
  font-size: 1rem;
 } 
 .form-switch{
  opacity: 1;
  margin-top: 1rem;
  align-items: center;
  
 }
 .tax-info{
  display: none;
 }
 .switch {
  margin-top: 10px;
  height: 3.25rem;
  border: 2px ,solid, black;
  border-radius: 20px;
  padding-left: 1.5rem;
  display: flex;
  
  
 }

 .btn i{
    display: inline;
    margin: 0.5rem;
    
  }
  .btn-search{
    background-color: #fe4350;
    border-radius: 20px;
    padding: 0 1rem 0 1rem;
    margin-left: 0.5rem;



    &:hover{
      background-color: #fe4350;
    }
  }

  .search-input{
    border-radius: 20px;
    padding: 0.5rem 3rem 0.5rem 3rem;
text-align: center;
  }
  