
<% layout("/layouts/boilplate") %>

    <body>
        
    
    <div class="row-2 mt-3">
    
        <div class="col-6 offset-3">
            <h2>Signup for WanderLust</h2>
            <form action="/signup" method="post" class="needs-validation" novalidate>
<!-- username -->
                <div class="mb-3">
                    <label for="username" class="form-label"><b> username</b></label>
                        <input type="text"  name="username" id="username" class="form-control" required>
                   <div class="valid-feedback">
                    look good
                   </div>
                   <div class="invalid-feedback">
                    Please enter your <b>username</b>
                   </div> 
                </div>
                   
        <!-- email -->
                   <div class="mb-3">
                    <label for="email" class="form-label"><b>Email</b></label>
                        <input type="text"  name="email" id="email" class="form-control" required>
                   <div class="valid-feedback">
                    look good
                   </div>
                   <div class="invalid-feedback">
                    Please enter your <b>Email</b>
                   </div>
                   </div>

                   <!-- password -->

                   <div class="mb-3">
                    <label for="password" class="form-label"><b>password</b></label>
                        <input type="text"  name="password" id="password" class="form-control" required>
                   <div class="valid-feedback">
                    look good
                   </div>
                   <div class="invalid-feedback">
                    Please enter your <b>password</b>
                   </div>




                </div>

                <!-- signup buttton -->
<button class="btn  btn-danger mb-2 mt-2">signup</button> 
            </form>
        </div>
    </div>

</body>